* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
}

body {
    font-family: 'Julius Sans One', sans-serif;
}

.container {
    display: block;

}

/* Headline */
header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #009688;
    margin-bottom: 15px;
}

li {
    list-style-type: none;
    background-color: #9e9e9e;
    border-radius: 25px;
    margin: 10px;
    width: 27%;
    cursor: pointer;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.main {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #009688;
}

img {
  max-width: 100%;
}

.main img {
  width: 900px;
  border-radius: 25px;
  cursor: pointer;
}

@media screen and (min-width: 950px){
  .container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  li {
    width: 14%;
  }
}
